<header>
    <div className="container">
        <div className="identy">
            <ReactSVG src="logo.svg" />
            <div className="logoName">
                <p>Dev<span>360</span></p>
                <span className='descri'>Diseño Web</span>
            </div>
        </div>
        <div className="navigation">
            <nav>
                <li>Inicio</li>
                <li>Servicios</li>
                <li>Contacto</li>
            </nav>
        </div>
    </div>
</header>